@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

ul {
  margin-bottom: 0; }

.wrapper_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 50px 0 10px 0; }
  .wrapper_header .phone, .wrapper_header .call_back {
    -webkit-flex-basis: 10%;
        -ms-flex-preferred-size: 10%;
            flex-basis: 10%; }

.logo {
  padding-left: 30px; }

.mw-100 {
  max-width: 100%;
  min-width: 200px; }

.wrapper_header .menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 30px 0 30px; }

.wrapper_header {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*прижимает содержимое к краям */
  /*выравнивает элементы по центру на вертикальной */ }

.menu, .phone, .call_back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu ul {
  list-style: none; }

.menu ul li {
  margin-bottom: 20px; }

/*orange hover*/
.wrapper_header .menu ul a, .language a {
  /*+ block lenguage from content*/
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #696969;
  padding: 10px 15px;
  white-space: nowrap;
  font-weight: bold; }
  .wrapper_header .menu ul a:hover, .language a:hover {
    background: #ffb940;
    border-radius: 30px;
    color: black; }

/*orange hover*/
/*Иконка*/
.for_call {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px; }
  .for_call a {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: #9f9f9f;
    border-radius: 50%;
    text-align: center;
    font-size: 20px; }
    .for_call a:hover {
      background: #ffa200;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
  .for_call a i {
    color: white;
    font-size: 17px; }

.contact_number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap; }

/*Иконка*/
.phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .phone .for_call {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.phone ul li {
  list-style-type: none;
  font-size: 12px;
  color: black;
  font-weight: bold;
  padding-bottom: 8px; }

/*Зворотній звязок btn*/
.call_back {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .call_back .btn_text {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 15px;
    padding-top: 5px; }
  .call_back .btn_text p {
    margin-bottom: 0;
    font-size: 12px;
    color: #696969;
    font-weight: bold; }

.button {
  width: 100%;
  font-weight: bold;
  border-radius: 25px;
  color: black; }

.button a {
  white-space: nowrap;
  font-size: 12px;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 20px; }
  .button a:hover {
    background: #ffb940;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

/*Зворотній звязок btn*/
.content {
  height: 68px; }
  .content .wrapper_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
    .content .wrapper_content .main_search {
      -webkit-box-flex: 4;
      -webkit-flex: 4;
          -ms-flex: 4;
              flex: 4;
      margin-left: 300px;
      padding: 9px 10px 8px 10px;
      border-top: 1px solid #d9d9d9;
      border-right: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9; }
  .content .language {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    white-space: nowrap;
    padding: 17px 10px 16px 10px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9; }
  .content .my_cabinet {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 8px 10px 9px 10px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9; }
  .content .social_icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    text-align: center;
    padding: 11px 20px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9; }

/*Cтилизация основного списка*/
.main_list {
  position: absolute;
  max-width: 300px;
  height: 100%;
  margin: 0; }
  .main_list .navbar {
    padding: 0; }
  .main_list .list_bg {
    position: relative;
    background: url("../img/list_bg.png") right center;
    background-size: cover; }
  .main_list .list_bg::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 59px;
    left: 0;
    top: 0;
    background-color: #3f2800;
    opacity: .8; }
  .main_list .bg_brown a {
    color: white;
    text-decoration: none; }
  .main_list .bg_brown .bg_brown_wrapper {
    width: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 10px 15px 30px; }
  .main_list .navbar-toggler {
    border: none;
    outline: none; }
  .main_list .fa.fa-navicon {
    color: white; }
  .main_list .navbar-light .navbar-nav .nav-link {
    color: white; }
  .main_list .wrapper_link ul li {
    list-style-type: none;
    padding: 0 15px 0 30px; }
  .main_list .wrapper_link li:hover {
    background: white;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .main_list .wrapper_link li:hover a:hover {
      color: black; }

/*Cтилизация основного списка*/
/*Input*/
input {
  width: 100%;
  height: 40px;
  outline: none;
  padding: 10px 15px;
  background: #ececec;
  border: none; }

.input-group-btn {
  position: relative; }

.btn_search {
  position: absolute;
  left: -30px;
  top: -3px;
  background: transparent;
  border: none; }

/*Input*/
/*Иконки*/
.social_icons a {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: #9f9f9f;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 22px; }
  .social_icons a:hover {
    background: #ffa200;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

.social_icons a i {
  font-size: 23px; }

/*Иконки*/
.dropdown-toggle a, .basket a {
  color: black;
  outline: none; }

.btn.focus, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

/*
.footer {
background: url("../img/bg_footer.jpg") center;
background-size: cover;
max-width: 100%;
height: 300px;
}*/
