.content {
  height: 68px;
  .wrapper_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
    .main_search {
      flex: 4;
      margin-left: 300px;
      padding: 9px 10px 8px 10px;
      border-top: 1px solid #d9d9d9;
      border-right: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
    }
  }
  .language {
    flex: 1;
    text-align: center;
    white-space: nowrap;
    padding: 17px 10px 16px 10px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
  .my_cabinet {
    flex: 2;
    display: flex;
    white-space: nowrap;
    justify-content: space-around;
    padding: 8px 10px 9px 10px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
  .social_icons {
    display: flex;
    flex: 2;
    justify-content: space-around;
    text-align: center;
    padding: 11px 20px;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

}






      /*Cтилизация основного списка*/
.main_list {
  position: absolute;
  max-width: 300px;
  height: 100%;
  margin: 0;
  .navbar {
    padding: 0;
  }
  .list_bg {
    position: relative;
    background: url("../img/list_bg.png") right center;
    background-size: cover;
  }
  .list_bg::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 59px;
    left: 0;
    top: 0;
    background-color: #3f2800;
    opacity: .8;
  }
  .bg_brown {
    a {
      color: white;
      text-decoration: none;
    }
    .bg_brown_wrapper {
      width: 300px;
      display: flex;
      justify-content: space-between;
      padding: 15px 10px 15px 30px;
    }
  }
  .navbar-toggler {
    border: none;
    outline: none;
  }
  .fa.fa-navicon {
    color:white;
  }

  .navbar-light .navbar-nav .nav-link {
    color: white;
  }
  .wrapper_link ul li{
    list-style-type: none;
    padding: 0 15px 0 30px;
  }
  .wrapper_link li:hover {
    background: white;
    transition: .5s;
    a:hover {
      color: black;
    }
  }
}
      /*Cтилизация основного списка*/

/*Input*/

input {
  width: 100%;
  height: 40px;
  outline: none;
  padding: 10px 15px;
  background: #ececec;
  border: none;
}
.input-group-btn {
  position: relative;
}
.btn_search {
  position: absolute;
  left: -30px;
  top: -3px;
  background: transparent;
  border: none;
}

/*Input*/

        /*Иконки*/
.social_icons a {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: #9f9f9f;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 22px;
  &:hover {
    background: #ffa200;
    transition: .5s;
  }
}
.social_icons a i {
  font-size: 23px;
}
        /*Иконки*/


.dropdown-toggle a, .basket a {
  color: black;
  outline: none;
}
.btn.focus, .btn:focus {
  box-shadow: none; //для відключення синього бордера
}


