*{
  margin: 0;
  padding: 0;
}
ul {
  margin-bottom: 0;
}
.wrapper_header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 50px 0 10px 0;
  .phone, .call_back {
    flex-basis: 10%;
  }
}
.logo {
  padding-left: 30px;
}
.mw-100 {
  max-width: 100%;
  min-width: 200px;
}

.wrapper_header .menu ul {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 30px;
}

.wrapper_header {
  justify-content: space-between; /*прижимает содержимое к краям *//*выравнивает элементы по центру на вертикальной */
}
.menu, .phone, .call_back {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  margin-bottom: 20px;
}

  /*orange hover*/
.wrapper_header .menu ul a, .language a {   /*+ block lenguage from content*/
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #696969;
  padding: 10px 15px;
  white-space: nowrap;
  font-weight: bold;
  &:hover {
    background: #ffb940;
    border-radius: 30px;
    color: black;
  }
}
/*orange hover*/
          /*Иконка*/
.for_call {
  display: flex;
  padding-right: 20px;
  a {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: #9f9f9f;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    &:hover {
      background: #ffa200;
      transition: .5s;
    }
  }
  a i {
    color: white;
    font-size: 17px;
  }
}

.contact_number {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}
        /*Иконка*/
.phone {
  display: flex;
  flex-direction: row;
  .for_call {
    align-items: center;
  }
}
  .phone ul li {
    list-style-type: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
    padding-bottom: 8px;
  }
/*Зворотній звязок btn*/
.call_back {
  flex-direction: column;
  align-items: flex-start;
  .btn_text {
    justify-content: flex-start;
    padding-bottom: 15px;
    padding-top: 5px;
  }
  .btn_text p {
    margin-bottom: 0;
    font-size: 12px;
    color: #696969;
    font-weight: bold;
  }
}
.button {
  width: 100%;
  font-weight: bold;
  border-radius: 25px;
  color: black;
}
.button a {
  white-space: nowrap;
  font-size: 12px;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 20px;
  &:hover {
    background: #ffb940;

    transition: .5s;
  }
}
/*Зворотній звязок btn*/

